.addvenue__tab-group li {
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center; 
  }
  .field-wrap label {
    position: relative;
    -webkit-transform: initial;
            transform: initial;
    left: initial;
    color: var(--base-font-color);
    transition: all 0.25s ease;
    -webkit-backface-visibility: initial;
    pointer-events: initial;
    font-size: var(--base-font-size);
  }
  label .req {
    margin: initial;
    color: initial;
  }
  
  label.active {
    -webkit-transform: initial;
            transform: initial;
    left: initial;
    font-size: initial;
  }
  label.active .req {
    opacity: initial;
  }
  
  label.highlight {
    color: initial;
  }
  .addvenue__status.field-wrap input[type=radio]{
    width: initial !important;
    height: initial !important;
    margin-left: 5px !important;
  }
  .addvenue__status{
    display: flex;
    align-items: center;
  }
  .addvenue__status input{
    width: initial;
    height: initial;
    margin-right: 20px;
  }
  .field-wrap select{
    width: 100%;
    padding: 15px;
    background-color: var(--menu-bg);
    color: var(--base-font-color);
  }
  .field-wrap.upload-group{
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  #file{
    cursor: pointer;
    border: 0;
    width: initial !important;
  }
  /* label{font-size: 16px} */
  .button {
    /* text-transform: initial; */
  }
  .added{
    color: rgb(0, 128, 255);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .d-none{
    display: none;
  }
  .d-block{
    display: block;
  }