.addvenue__body{
    background: var(--menu-bg);
}
.form {
    background: var(--menu-bg);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
  }
  
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
  }
  .tab-group li a:hover {
    background: var(--primary-color);
    color: #ffffff;
  }
  .tab-group .active a {
    background: var(--primary-color);
    color: #ffffff;
  }
  .signup.tab-content > div:last-child {
    display: none;
    }
  /* h2 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0 0 40px;
  } */
  
  label {
    position: absolute;
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
  }
  label .req {
    margin: 2px;
    color: var(--primary-color);
  }
  
  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
  }
  label.active .req {
    opacity: 0;
  }
  
  label.highlight {
    color: #ffffff;
  }
  
  .field-wrap input, .field-wrap textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #a0b3b0;
  }
  
  textarea {
    border: 2px solid var(--box-shadow-color);
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: var(--bg-light);
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  @media screen and (max-width: 767px){
    .form{
      padding: 40px 20px;
    }
  }
  @media screen and (min-width: 768px){
    .form{
      border: 4px solid rgba(0, 128, 255, 1);
    }
  }